Source: ace-tao
Version: 2.5.6
Description: The ACE ORB
Maintainer: Benjamin Oldenburg <benjamin.oldenburg@ordis.co.th>
Homepage: http://www.dre.vanderbilt.edu/~schmidt/TAO.html

Feature: zlib
Build-Depends: zlib
Description: With zlib support

Feature: ssl
Build-Depends: openssl
Description: With SSL support

Feature: qt5
Build-Depends: qt5-base
Description: For QtReactor

Feature: lzo
Build-Depends: lzo
Description: lzo support

Feature: bzip2
Build-Depends: bzip2
Description: bzip2 support

Feature: mfc
Build-Depends: atlmfc
Description: MFC support

Feature: xml
Build-Depends: xerces-c[xmlch_wchar,icu]
Description: XML support with xerces-c



