Source: ace-tao
Version: 2.5.6
Description: The ACE ORB
Maintainer: Benjamin Oldenburg <benjamin.oldenburg@ordis.co.th>
Homepage: http://www.dre.vanderbilt.edu/~schmidt/TAO.html

Feature: wchar
Description: Enable extra wide char functions

Feature: zlib
Build-Depends: zlib
Description: Enable zlib support

Feature: ssl
Description: Enable SSL/TLS features
Build-Depends: openssl

Feature: qt5
Build-Depends: qt5-base
Description: Enable Qt5 support (builds QtReactor and QtResource)

Feature: bzip2
Build-Depends: bzip2
Description: Enable bzip2 support

Feature: mfc
Build-Depends: atlmfc
Description: Enable MFC support

Feature: xml
Description: Enable XML features



